[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
asyncpgsa = "*"
gino = "*"
marshmallow = "*"
sqlalchemy = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
codecov = "*"
pytest-cov = "*"
pytest-aiohttp = "*"

[requires]
python_version = "3.7"
