[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
alembic = "*"
asyncpgsa = "*"
marshmallow = "*"
"psycopg2-binary" = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
ujson="*"

[dev-packages]
codecov = "*"
flake8 = "*"
pytest = "*"
pytest-aiohttp = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
